'menu': [{
    'label': 'Packages',
    'submenu': [{
        'label': 'Titanium'
        'submenu': [{
            'label': 'Create',
            'submenu': [{
                'label': 'Project'
                'command': 'Titanium:create project'
                }, {
                    'label': 'Controller'
                    'command': 'Titanium:create controller'
                }, {
                    'label': 'Widget'
                    'command': 'Titanium:create widget'
                }, {
                    'label': 'Model'
                    'command': 'Titanium:create model'
                }
            ]
        }]
    }]
}]
